<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({interval: 10000});
  });
  $('.carousel').carousel({ pause: "false", interval: 2000 });
</script>


<div id="myCarousel" class="carousel slide"> -->
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item active ad1">
    </div>
    <div class="item ad2">
    </div>
    <div class="item ad3">
    </div>
    <div class="item ad4">
    </div>
    <div class="item ad5">
    </div>
  </div>
</div>



<center>
    <div id="WelcomeLogo">
      <img src="/assets/Logo(25).png" alt="" width="800px"> </img>
    </div> 
    <Slogan> Find what you love. Do what you love.</Slogan>
</center>






<!-- <div id="WelcomeWrap">
  <center>
    <div id="WelcomeLogo">
      <img src="/assets/Logo(25).png" alt="" width="65%"> </img>
    </div> 
    <br>
    <Slogan> Find what you love. Do what you love.</Slogan>
  </center>
</div> -->
