<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>
<!-- Custom JavaScript for the Menu Toggle -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
});
</script>



<!-- SIDEBAR -->
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Start Bootstrap</a>
            </li>

		    <center>
			    <div class="form-group">
			        <input type="text" class="form-control" id="interest_search" placeholder="Search Interests">
			    </div>
			</center>

            <li>
				<a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#teams">
					Teams
				</a>
				<div id="teams" class="collapse out">
					<ul class="nav nav-list">
					  <li class="active"><a href="#">Hockey</a></li>
					  <li><a href="#">Basketball</a></li>
					  <li><a href="#">Baseball</a></li>
					</ul>
				</div>
			</li>

            <li><a href="#">Sports</a>


			<li>
				<a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#fooddrink">
					Food and Drink
				</a>
				<div id="fooddrink" class="collapse out">
					<ul class="nav nav-list">
					  <li class="active"><a href="#">Breakfast</a></li>
					  <li><a href="#">Lunch</a></li>
					  <li><a href="#">Dinner</a></li>
					  <li><a href="#">Drinks</a></li>
					  <li><a href="#">Coffee</a></li>
					</ul>
				</div>
			</li>


            </li>
            <li><a href="#">People</a>
            </li>
            <li><a href="#">Music</a>
            </li>
			<li>
				<a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#movies">
					Movies
				</a>
				<div id="movies" class="collapse out">
					<ul class="nav nav-list">
					  <li class="active"><a href="#">Action and Adventure</a></li>
					  <li><a href="#">Animation</a></li>
					  <li><a href="#">Comedy</a></li>
					  <li><a href="#">Documentary and Biography</a></li>
					  <li><a href="#">Drama</a></li>
					  <li><a href="#">Family</a></li>
					  <li><a href="#">Fantasy</a></li>
					  <li><a href="#">Horror</a></li>
					  <li><a href="#">Music</a></li>
					  <li><a href="#">Mystery</a></li>
					  <li><a href="#">Romance</a></li>
					  <li><a href="#">Science-Fiction</a></li>
					  <li><a href="#">Sport</a></li>
					  <li><a href="#">Thriller</a></li>
					</ul>
				</div>
			</li>
            <li><a href="#">Television</a>
            </li>
            <li><a href="#">Books</a>
            </li>
            <li><a href="#">Arts</a>
            </li>
            <li><a href="#">Studying</a>
            </li>
            <li><a href="#">Gaming</a>
            </li>

        </ul>
    </div>

    <!-- Page content -->
    
	<br>


	<div class="row">
	    <div class="col-md-4">

	    	<div class="Ints">
	        	<div class="IntsImg1"> 
	          		<div class="col-md-6">
		        		<div class="IntsInfoNotif">
		          			<center><span class="label label-info">Music</span></center>
		        		</div>
	          		</div>
	          		<div class="col-md-6">
		          		<div class="IntsBadge">
		            		<center><span class="badge">683</span></center>
		          		</div>
	          		</div>
	        	</div>
        		<div class="col-md-12">
          			<center><IntsName>deaudmau5</IntsName></center>
        		</div>
	      	</div>

	      <br>

	    	<div class="Ints">
	        	<div class="IntsImg4">
	          		<div class="col-md-6">
		        		<div class="IntsInfoNotif">
		          			<center><span class="label label-info">Extreme</span></center>
		        		</div>
	          		</div>
	          		<div class="col-md-6">
		          		<div class="IntsBadge">
		            		<center><span class="badge">967</span></center>
		          		</div>
	          		</div>
	        	</div>
        		<div class="col-md-12">
          			<center><IntsName>Sky Diving</IntsName></center>
        		</div>
	      	</div>

	      	<br>

	    	<div class="Ints">
	        	<div class="IntsImg7">
	          		<div class="col-md-6">
		        		<div class="IntsInfoNotif">
		          			<center><span class="label label-info">Teams</span></center>
		        		</div>
	          		</div>
	          		<div class="col-md-6">
		          		<div class="IntsBadge">
		            		<center><span class="badge">867</span></center>
		          		</div>
	          		</div>
	        	</div>
        		<div class="col-md-12">
          			<center><IntsName>Toronto Raptors</IntsName></center>
        		</div>
	      	</div>

	      	<br>

	      	<div class="Ints">
	        	<div class="IntsImg10">
	          		<div class="col-md-6">
		        		<div class="IntsInfoNotif">
		          			<center><span class="label label-info">Television</span></center>
		        		</div>
	          		</div>
	          		<div class="col-md-6">
		          		<div class="IntsBadge">
		            		<center><span class="badge">852</span></center>
		          		</div>
	          		</div>
	        	</div>
        		<div class="col-md-12">
          			<center><IntsName>Doctor Who</IntsName></center>
        		</div>
	      	</div>



	    </div>
	    <div class="col-md-4">

	    	<div class="Ints">
	        	<div class="IntsImg2">
	          		<div class="col-md-6">
		        		<div class="IntsInfoNotif">
		          			<center><span class="label label-info">Movies</span></center>
		        		</div>
	          		</div>
	          		<div class="col-md-6">
		          		<div class="IntsBadge">
		            		<center><span class="badge">239</span></center>
		          		</div>
	          		</div>
	        	</div>
        		<div class="col-md-12">
          			<center><IntsName>The Dark Knight Rises</IntsName></center>
        		</div>
	      	</div>

	      <br>

	    	<div class="Ints">
	        	<div class="IntsImg5">
	          		<div class="col-md-6">
		        		<div class="IntsInfoNotif">
		          			<center><span class="label label-info">Outdoors</span></center>
		        		</div>
	          		</div>
	          		<div class="col-md-6">
		          		<div class="IntsBadge">
		            		<center><span class="badge">622</span></center>
		          		</div>
	          		</div>
	        	</div>
        		<div class="col-md-12">
          			<center><IntsName>Group Running</IntsName></center>
        		</div>
	      	</div>

	      	<br>

	      	<div class="Ints">
	        	<div class="IntsImg8">
	          		<div class="col-md-6">
		        		<div class="IntsInfoNotif">
		          			<center><span class="label label-info">Books</span></center>
		        		</div>
	          		</div>
	          		<div class="col-md-6">
		          		<div class="IntsBadge">
		            		<center><span class="badge">597</span></center>
		          		</div>
	          		</div>
	        	</div>
        		<div class="col-md-12">
          			<center><IntsName>Angels and Demons</IntsName></center>
        		</div>
	      	</div>


	    </div>
	    <div class="col-md-4">

	    	<div class="Ints">
	        	<div class="IntsImg3">
	          		<div class="col-md-6">
		        		<div class="IntsInfoNotif">
		          			<center><span class="label label-info">Sports</span></center>
		        		</div>
	          		</div>
	          		<div class="col-md-6">
		          		<div class="IntsBadge">
		            		<center><span class="badge">842</span></center>
		          		</div>
	          		</div>
	        	</div>
        		<div class="col-md-12">
          			<center><IntsName>Toronto Maple Leafs</IntsName></center>
        		</div>
	      	</div>

	      <br>

	    	<div class="Ints">
	        	<div class="IntsImg6">
	          		<div class="col-md-6">
		        		<div class="IntsInfoNotif">
		          			<center><span class="label label-info">Gaming</span></center>
		        		</div>
	          		</div>
	          		<div class="col-md-6">
		          		<div class="IntsBadge">
		            		<center><span class="badge">1026</span></center>
		          		</div>
	          		</div>
	        	</div>
        		<div class="col-md-12">
          			<center><IntsName>Minecraft</IntsName></center>
        		</div>
	      	</div>

	      	<br>

	      	<div class="Ints">
	        	<div class="IntsImg9">
	          		<div class="col-md-6">
		        		<div class="IntsInfoNotif">
		          			<center><span class="label label-info">Television</span></center>
		        		</div>
	          		</div>
	          		<div class="col-md-6">
		          		<div class="IntsBadge">
		            		<center><span class="badge">1357</span></center>
		          		</div>
	          		</div>
	        	</div>
        		<div class="col-md-12">
          			<center><IntsName>Game of Thrones</IntsName></center>
        		</div>
	      	</div>

	    </div>

	</div>







	<div class="row">

		<br>
		<br>
		<br>

		<body>
		<% @interests.each do |inter| %>
		  <%= inter.name %><%= link_to 'Destroy', inter, method: :delete %><br>
		<% end %>
		</body>

	</div>


</div>

