// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#WelcomeWrap {
  z-index: -99;
  top: 520px;
  left: 0;
  height: 60%;
  position: absolute;
  width: 100%;
  background: url(http://www.blirk.net/wallpapers/1920x1080/gradient-wallpaper-3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:   cover;
}


#WelcomeLogo {
  padding-top: 293px;
  /* -webkit-filter: drop-shadow(0px 0px 5px #000000); 
  filter: drop-shadow(0px 0px 5px #000000); */
}


/* FONT STYLES */
Slogan {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}



/* CAROUSEL */

#myCarousel {
  z-index: -99;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.carousel-inner .item {
  width: 100%;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ad1 {
  background: url(/assets/WelcomeCarousel/Concert.png) no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
}
.ad2 {
  background: url(/assets/WelcomeCarousel/Hiking.jpg) no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
}
.ad3 {
  background: url(/assets/WelcomeCarousel/MovieTheater.jpg) no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
}
.ad4 {
  background: url(/assets/WelcomeCarousel/Squash.jpg) no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
}
.ad5 {
  background: url(/assets/WelcomeCarousel/Hockey.jpg) no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
}














/* SIGN IN PAGE */

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}